.colorrr {
    color: #78d712;
    color: #f89b08;
    color: #256fd3;
    background-image: linear-gradient(304deg, #256fd3, #318ae8);
    background-image: linear-gradient(304deg, #91ec30, #78d712);
    background-image: linear-gradient(304deg, #f89b08, #e99000);

    /* asdas */
    background-image: linear-gradient(34deg, #ffa413, #ffcf81);
}
