.colorrr {
    color: #78d712;
    color: #f89b08;
    color: #256fd3;

    /* asdas */
    background-image: linear-gradient(90deg, #ffa413, #fb8500);
    background-image: linear-gradient(90deg, #6bcc02, #78d712);
}

.green {
    color: #78d712;
}
.orange {
    color: #fb8500;
}
