@media only screen and (max-width: 1700px) {
    .header-style-one .info-btn,
    .header-style-two .info-btn {
        display: none;
    }
    .main-menu .navigation > li {
        margin-right: 50px;
    }
    .header-style-two .header-top {
        padding: 0 30px;
    }
    .faqs-section.style-two .image-column .inner-column {
        margin-left: -230px;
    }
    .faqs-section.style-two .image-column .info-box {
        background-image: none;
    }
    .faqs-section.style-two .image-column .info-box .inner {
        padding-right: 180px;
    }
    .faqs-section.style-two .image-column .info-box .title {
        font-size: 34px;
    }
}
@media only screen and (max-width: 1439px) {
    .header-top {
        margin-left: 220px;
        padding-right: 30px;
    }
    .main-menu .navigation > li {
        margin-right: 40px;
    }
    .about-section .image-column .inner-column {
        margin-left: 0;
    }
}
@media only screen and (max-width: 1199px) {
    .header-top {
        margin-left: 0;
        padding: 0;
    }
    .main-header .main-box {
        align-items: center;
    }
    .about-section .image-column .image-1:before,
    .about-section .image-column .image-2,
    .about-section:before,
    .header-top .outer-box {
        display: none;
    }
    .sec-title h2 {
        font-size: 42px;
    }
    .about-section .image-column .image-1 {
        max-width: 100%;
    }
    .about-section .image-column .inner-column {
        padding-right: 0;
    }
    .about-section-two .image-column .image-1 img {
        min-width: auto;
    }
    .about-section-two .image-column .inner-column {
        padding-right: 0;
    }
    .faqs-section .faq-column .inner-column,
    .faqs-section .form-column .inner-column {
        padding-left: 0;
        padding-right: 0;
    }
    .faqs-section .faq-bg,
    .faqs-section .form-bg {
        right: 0;
        left: auto;
        width: 101%;
    }
    .call-to-action-two .content-box {
        padding: 30px 40px;
    }
    .contact-section .image-column .inner-column {
        padding-left: 0;
    }
    .contact-section .form-column .inner-column {
        padding-top: 0;
        margin-right: 0;
    }
    .contact-section-two .info-column .inner-column {
        margin-left: 0;
        padding-left: 50px;
        padding-right: 20px;
    }
    .contact-section-two .info-column .inner-column .image {
        display: none;
    }
    .call-to-action-two .title-box .title {
        font-size: 34px;
    }
    .faqs-section.style-two .faq-column {
        order: 0 !important;
    }
    .faqs-section.style-two .image-column .inner-column {
        margin-left: 0;
    }
}
@media only screen and (min-width: 768px) {
    .main-menu .navigation > li > ul,
    .main-menu .navigation > li > ul > li > ul {
        display: block !important;
        visibility: hidden;
        opacity: 0;
    }
}
@media only screen and (max-width: 1023px) {
    .header-top,
    .main-header .main-menu {
        display: none;
    }
    .main-header .logo {
        min-width: auto;
    }
    .main-header {
        padding: 10px 0;
    }
    .main-header .logo img,
    .sticky-header .logo img {
        max-width: none;
        max-height: 48px;
    }
    .mobile-nav-toggler {
        display: block;
        margin-left: 20px;
    }
    .main-header .ui-btn {
        font-size: 24px;
        line-height: 35px;
        margin-left: 15px;
    }
    .main-header .main-box .nav-outer {
        width: auto;
    }
    .main-header .main-box {
        justify-content: space-between;
    }
    .about-section .content-column {
        order: 0 !important;
    }
    .sec-title h2 {
        font-size: 42px;
    }
    .sec-title h2 br {
        display: none;
    }
    .about-section-two .content-column {
        order: 0 !important;
    }
    .about-section-two .image-column .image-1,
    .about-section-two .image-column .image-2 {
        width: 50%;
        max-width: 50%;
    }
    .about-section-two .image-column .image-2 img {
        max-width: 100%;
    }
    .faqs-section .faq-bg,
    .faqs-section .form-bg {
        right: -3px;
        left: auto;
        width: 110%;
    }
    .call-to-action-two .image-box {
        display: none;
    }
    .contact-section .image-column .image-box .image,
    .contact-section .image-column .image-box .image img {
        display: block;
        width: 100%;
    }
    .news-section-two::before {
        max-width: 100%;
        background-size: cover;
    }
}
@media only screen and (max-width: 767px) {
    .about-section:after {
        top: 0;
    }
    .features-section.pull-up .outer-box {
        margin-top: 0;
        padding-top: 50px;
    }
    .about-section .content-column .content-box {
        padding-right: 0;
    }
    .about-section .content-column .info-box {
        position: relative;
        max-width: 100%;
        padding: 20px 20px;
        margin-bottom: 50px;
    }
    .about-block {
        min-height: 90px;
    }
    .about-section .content-column .btm-box {
        margin-top: 20px;
    }
    .about-section .content-column .info-box .title {
        margin-bottom: 10px;
    }
    .call-to-action .title-box .title {
        font-size: 42px;
    }
    .call-to-action-two .outer-box {
        margin-left: -15px;
        margin-right: -15px;
    }
    .call-to-action-two .content-box {
        flex-direction: column;
        text-align: center;
        padding: 40px 30px 50px;
    }
    .call-to-action-two .btn-box {
        margin-top: 20px;
    }
    .header-style-two .header-top {
        padding: 0 20px;
    }
    .faqs-section.style-two .image-column .info-box .inner {
        padding-right: 0;
        text-align: center;
    }
    .faqs-section.style-two .image-column .info-box .icon {
        position: relative;
        display: inline-flex;
        margin: 0 auto 30px;
    }
}
@media only screen and (max-width: 599px) {
    .sec-title h2 {
        font-size: 36px;
    }
    .feature-block .text br,
    .sec-title .sub-title:before {
        display: none;
    }
    .feature-block .inner-box {
        text-align: center;
    }
    .feature-block .title-box {
        padding-left: 0;
        display: block;
    }
    .feature-block .icon {
        position: relative;
        margin: 0 auto 20px;
    }
    .feature-block .text {
        font-size: 14px;
        line-height: 24px;
    }
    .service-block .content-box {
        padding: 25px 0 0;
    }
    .call-to-action .title-box .title {
        font-size: 32px;
    }
    .about-info-box {
        padding: 30px 0 10px;
        flex-direction: column;
        text-align: center;
    }
    .about-info-box .icon {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
    .about-info-box .content {
        padding: 20px 20px;
    }
    .about-info-box .number {
        font-size: 24px;
    }
    .call-to-action-two .title-box .title {
        font-size: 28px;
    }
    .contact-section .image-column .image-box .image {
        margin-bottom: 0;
    }
    .contact-section .image-column .image-box .image:before {
        display: none;
    }
    .contact-section .image-column .image-box {
        padding: 0;
    }
    .contact-section .image-column .image-box .info-box {
        position: relative;
        top: 0;
        padding: 30px 20px;
        text-align: center;
    }
    .contact-section .image-column .image-box .info-box .icon {
        position: relative;
        left: 0;
        top: 0;
        display: block;
    }
    .contact-section-two .info-column .inner-column {
        padding: 30px 0 0;
    }
    .contact-section-two .info-column .info-box {
        padding-left: 0;
        text-align: center;
    }
    .contact-section-two .info-column .info-box .icon {
        position: relative;
        display: inline-flex;
        margin-bottom: 20px;
    }
    .contact-info-box {
        padding-left: 80px;
    }
    .faqs-section.style-two .image-column .info-box {
        padding: 35px 25px;
    }
    .faqs-section.style-two .image-column .info-box .title {
        font-size: 24px;
    }
    .faqs-section.style-two .image-column .info-box .icon {
        height: 100px;
        width: 100px;
        font-size: 62px;
    }
}
@media only screen and (max-width: 424px) {
    .contact-form {
        padding: 40px 30px 30px;
    }
    .news-block .content-box {
        padding: 25px 30px 35px;
    }
}
